/* .AccountInformation{
    position: fixed; 
    display: none; 
    width: 30vw; 
    height: 40vh; 
    max-width: 500px;
    max-height: 700px;
    top: 0;
    margin-left: 35%;
    margin-top: 5%;
    bottom: 0;
    background-color: #3D405B; 
    
    z-index: 2; 
    cursor: pointer;
    display: block;
    border: 4px solid #FCEC52;
   
    border-radius: 25px;
    color: white;
}
#AccountInformation-CloseOverlay{
    margin-right: 0;
    width: 10%;
    float: right;
}

.AccountInformation p{
    font-style: oblique;
}
.AccountInformation h1{
    text-align: center;
    padding-left: 10%;
    padding-bottom: 0;
}

.AccountInformation h1{
    font-style: oblique;
} */

 /* Iphone X */
 @media only screen 
 and (min-device-width: 375px) 
 and (max-device-height: 812px) 
 and (-webkit-min-device-pixel-ratio: 3) { 
    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 40%; /* Full height (cover the whole page) */
        max-width: 500px;
        max-height: 700px;
        top: 0;
        margin-left: 15%;
        margin-top: 25%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AccountInformation-CloseOverlay{
    margin-right: 0;
    width: 20%;
    float: right;
    }
    .AccountInformation h1{
        text-align: center;
        padding-left: 18%;
        padding-bottom: 0;
        font-style: oblique;
    }
}

 /* Iphone 6/7/8 */
 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-height: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 46%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 15%;
        margin-top: 25%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AccountInformation-CloseOverlay{
    margin-right: 0;
    width: 16%;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
    }

    .AccountInformation h1{
        text-align: center;
        padding-left: 5%;
        padding-bottom: 0;
        font-style: oblique;
    }
 }
   /* Iphone 6/7/8 plus  Pixel 1/2  Pixel 2XL*/
   @media only screen 
   and (min-device-width: 414px) 
   and (max-device-height: 736px) 
   and (-webkit-min-device-pixel-ratio: 3){ 
    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 45%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 15%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AccountInformation-CloseOverlay{
    margin-right: 0;
    width: 16%;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
    }

    .AccountInformation h1{
        text-align: center;
        padding-left: 20%;
        padding-bottom: 0;
        font-style: oblique;
    }
}


/*Iphone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 54%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 15%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AccountInformation-CloseOverlay{
    margin-right: 0;
    width: 16%;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
    }

    .AccountInformation h1{
        text-align: center;
        padding-left: 4%;
        padding-bottom: 0;
        font-style: oblique;
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 52%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 15%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AccountInformation-CloseOverlay{
    margin-right: 0;
    width: 16%;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
    }

    .AccountInformation h1{
        text-align: center;
        padding-left: 4%;
        padding-bottom: 0;
        font-style: oblique;
    }
  }




/* (1366x768) WXGA Display */
@media screen and (min-width: 1366px){
    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 15%; /* Full width (cover the whole page) */
        height: 30%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 43%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
        font-size: large;
    }
    #AccountInformation-CloseOverlay{
        margin-top: 5px;
        margin-right: 5px;
        width: 20%;
        float: right;
    }
    
    .AccountInformation p{
        font-style: oblique;
    }
    .AccountInformation h1{
        text-align: center;
        padding-left: 51px;
        padding-bottom: 0;
    }
    
    .AccountInformation h1{
        font-style: oblique;
    }
}
 
/* (1280x1024) SXGA Display */
@media  screen and (min-width: 1280px) {
    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 20%; /* Full width (cover the whole page) */
        height: 34%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 40%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AccountInformation-CloseOverlay{
        margin-top: 5px;
        margin-right: 5px;
        width: 20%;
        float: right;
    }
    
    .AccountInformation p{
        font-style: oblique;
        
    }
    .AccountInformation h1{
        text-align: center;
        padding-left: 14.5%;
        padding-bottom: 0;
        
    }
    
    .AccountInformation h1{
        font-style: oblique;
    }
}
 
/* (1440x900) WXGA+ Display */
@media screen and (min-width: 1440px){
    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 20%; /* Full width (cover the whole page) */
        height: 40%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 43%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
        font-size: x-large;
    }
    #AccountInformation-CloseOverlay{
        margin-top: 5px;
        margin-right: 5px;
        width: 18%;
        float: right;
    }
    
    .AccountInformation p{
        font-style: oblique;
        font-size: large;
    }
    .AccountInformation h1{
        text-align: center;
        padding-left:15%;
        padding-bottom: 0;
    }
    
    .AccountInformation h1{
        font-style: oblique;
    }
}
 
/* (1680x1050) WSXGA+ Display */
@media  screen and (min-width: 1680px) {
    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 15%; /* Full width (cover the whole page) */
        height: 30%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 43%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AccountInformation-CloseOverlay{
        margin-top: 5px;
        margin-right: 5px;
        width: 18%;
        float: right;
    }
    
    .AccountInformation p{
        font-style: oblique;
        font-size: large;
    }
    .AccountInformation h1{
        text-align: center;
        padding-left:45.25px;
        padding-bottom: 0;
    }
    
    .AccountInformation h1{
        font-style: oblique;
    }
}
 
/* (1920x1080) Full HD Display */
@media screen and (min-width: 1920px) {
    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 15%; /* Full width (cover the whole page) */
        height: 30%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 43%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
        font-size: x-large;
    }
    #AccountInformation-CloseOverlay{
        margin-top: 5px;
        margin-right: 5px;
        width: 18%;
        float: right;
    }
    
    .AccountInformation p{
        font-style: oblique;
        font-size: large;
    }
    .AccountInformation h1{
        text-align: center;
        padding-left:45.25px;
        padding-bottom: 0;
    }
    
    .AccountInformation h1{
        font-style: oblique;
    }
}
 
/* (1600x900) HD+ Display */
@media screen and (min-width: 1600px) {
    .AccountInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 15%; /* Full width (cover the whole page) */
        height: 35%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 42%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AccountInformation-CloseOverlay{
        margin-top: 5px;
        margin-right: 5px;
        width: 18%;
        float: right;
    }
    
    .AccountInformation p{
        font-style: oblique;
        font-size: large;
    }
    .AccountInformation h1{
        text-align: center;
        padding-left:5%;
        padding-bottom: 0;
    }
    
    .AccountInformation h1{
        font-style: oblique;
    }
}

