/* .AddBanana{ */
    /* position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    /* width: 40vw; Full width (cover the whole page) */
    /* height: 80vh; Full height (cover the whole page) */
    /* max-width: 500px; */
    /* max-height: 700px;
    top: 0;
    margin-left: 30%;
    margin-top: 8%;
    bottom: 0; */
    /* background-color: #3D405B; Black background with opacity */
    
    /* z-index: 2; Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; Add a pointer on hover */ 
    /* display: block;
    border: 4px solid #FCEC52;
    /* rgb(49, 59, 78, 0.9) */
    /* border-radius: 25px;  */
/* }
#AddBanana-Banana{
    width: 20%;
    align-content: center;
    margin-left:10%;

}

#AddBanana-Water{
    width: 20%;
    align-content: center;
    margin-top: 10%;
}

.AddBanana-UpdateBanana{
    
}

#AddBanana-UpdateBanana-Add{
    width: 20%;
    float: right;
    margin-right: 5%; */
/* }
#AddBanana-UpdateBanana-Minus{
    width: 20%;
    float: left;
    margin-left: 5%;
}


#AddBanana-UpdateWater-Add{
    width: 20%;
    float: right;
    margin-right: 5%;
}
#AddBanana-UpdateWater-Minus{
    width: 20%;
    float: left;
    margin-left: 5%;
} */

/* #AddBanana-CloseOverlay{
    margin-right: 0;
    width: 10%;
    float: right;
} */

/* .AddBanana button{
    margin-top: 20%;
    width: 100px;
    height: 25px;
    font-weight: 600;
} */


 /* Iphone X */
 @media
    (min-device-width: 375px) 
 and (max-device-width: 812px) 
 and (-webkit-min-device-pixel-ratio: 3) {
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 68%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 14%;
        margin-top: 25%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white
    }
    #AddBanana-Banana{
        width: 25%;
        margin-left:18%;
        
    }
    
    #AddBanana-Water{
        width: 25%;
        align-content: center;
        margin-top: 20%;
    }

    #AddBanana-UpdateBanana-Add{
        width: 20%;
        float: right;
        margin-top: 0;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 20%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-UpdateWater-Add{
        width: 20%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 20%;
        float: left;
        margin-left: 5%;
    }

    #AddBanana-CloseOverlay{
    margin-right: 0;
    width: 20%;
    float: right;
    }

    .AddBanana button{
        margin-top: 10%;
        width: 100px;
        height: 25px;
        font-weight: 600;
        border-radius: 15px;
    }
}

/* Iphone 6/7/8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-height: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 79%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 14%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AddBanana-Banana{
        width: 25%;
        margin-left:18%;
        
    }
    
    #AddBanana-Water{
        width: 25%;
        align-content: center;
        margin-top: 20%;
    }

    #AddBanana-UpdateBanana-Add{
        width: 16%;
        float: right;
        margin-top: 0;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 16%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-UpdateWater-Add{
        width: 16%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 16%;
        float: left;
        margin-left: 5%;
    }

    #AddBanana-CloseOverlay{
    margin-right: 0;
    width: 16%;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
    }

    .AddBanana button{
        margin-top: 4%;
        width: 100px;
        height: 25px;
        font-weight: 600;
        border-radius: 15px;
    }
}

/* Iphone 6/7/8 plus */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-height: 736px) 
  and (-webkit-min-device-pixel-ratio: 3){
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 77%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 14%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
    }
    #AddBanana-Banana{
        width: 25%;
        margin-left:18%;
        
    }
    
    #AddBanana-Water{
        width: 25%;
        align-content: center;
        margin-top: 20%;
    }

    #AddBanana-UpdateBanana-Add{
        width: 16%;
        float: right;
        margin-top: 0;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 16%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-UpdateWater-Add{
        width: 16%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 16%;
        float: left;
        margin-left: 5%;
    }

    #AddBanana-CloseOverlay{
    margin-right: 0;
    width: 16%;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
    }

    .AddBanana button{
        margin-top: 20%;
        width: 50%;
        height: 30%;
        font-weight: 600;
        border-radius: 15px;
    }
}

   /*Pixel 2XL*/
   @media screen 
   and (device-width: 360px) 
   and (device-height: 640px) 
   and (-webkit-device-pixel-ratio: 4) {
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 68%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 15%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
    }
    #AddBanana-Banana{
        width: 25%;
        margin-left:18%;
        
    }
    
    #AddBanana-Water{
        width: 25%;
        align-content: center;
        margin-top: 20%;
    }

    #AddBanana-UpdateBanana-Add{
        width: 16%;
        float: right;
        margin-top: 0;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 16%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-UpdateWater-Add{
        width: 16%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 16%;
        float: left;
        margin-left: 5%;
    }

    #AddBanana-CloseOverlay{
    margin-right: 0;
    width: 16%;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
    }

    .AddBanana button{
        margin-top: 20%;
        width: 50%;
        height: 30%;
        font-weight: 600;
        border-radius: 15px;
    }
}

/*Smaller Devices */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 76%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 13.5%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        font-size: small;
        color: white;
    }
    #AddBanana-Banana{
        width: 21%;
        margin-left:18%;
        
    }
    
    #AddBanana-Water{
        width: 20%;
        align-content: center;
        margin-top: 20%;
    }

    #AddBanana-UpdateBanana-Add{
        width: 16%;
        float: right;
        margin-top: 0;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 16%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-UpdateWater-Add{
        width: 16%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 16%;
        float: left;
        margin-left: 5%;
    }

    #AddBanana-CloseOverlay{
    margin-right: 0;
    width: 16%;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
    }

    .AddBanana button{
        margin-top: 20%;
        width: 50%;
        height: 30%;
        font-weight: 600;
        border-radius: 15px;
    }

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 70%; /* Full width (cover the whole page) */
        height: 75%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 15%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        font-size: small;
    }
    #AddBanana-Banana{
        width: 20%;
        margin-left:18%;
        
    }
    
    #AddBanana-Water{
        width: 18%;
        align-content: center;
        margin-top: 20%;
    }

    #AddBanana-UpdateBanana-Add{
        width: 16%;
        float: right;
        margin-top: 0;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 16%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-UpdateWater-Add{
        width: 16%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 16%;
        float: left;
        margin-left: 5%;
    }

    #AddBanana-CloseOverlay{
    margin-right: 0;
    width: 16%;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
    }

    .AddBanana button{
        margin-top: 20%;
        width: 50%;
        height: 30%;
        font-weight: 600;
        border-radius: 15px;
    }

  }


/* (1366x768) WXGA Display */
@media screen and (min-width: 1366px){
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 30%; /* Full width (cover the whole page) */
        height: 62%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 35%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
        font-size: larger;
    }
    #AddBanana-Banana{
        width: 18%;
        align-content: center;
        margin-left:10%;
    
    }
    
    #AddBanana-Water{
        width: 15%;
        align-content: center;
        margin-top: 10%;
    }
    
    .AddBanana-UpdateBanana{
        
    }
    
    #AddBanana-UpdateBanana-Add{
        width: 15%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 15%;
        float: left;
        margin-left: 5%;
    }
    
    
    #AddBanana-UpdateWater-Add{
        width: 15%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 15%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-CloseOverlay{
        margin-right: 0;
        width: 10%;
        float: right;
    }
    
    .AddBanana button{
        margin-top: 12%;
        width: 100px;
        height: 25px;
        font-weight: 600;
        border-radius: 15px;
    }
}
 
/* (1280x1024) SXGA Display */
@media  screen and (min-width: 1280px) {
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 30%; /* Full width (cover the whole page) */
        height: 55%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 35%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AddBanana-Banana{
        width: 18%;
        align-content: center;
        margin-left:10%;
    
    }
    
    #AddBanana-Water{
        width: 15%;
        align-content: center;
        margin-top: 10%;
    }
    
    .AddBanana-UpdateBanana{
        
    }
    
    #AddBanana-UpdateBanana-Add{
        width: 15%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 15%;
        float: left;
        margin-left: 5%;
    }
    
    
    #AddBanana-UpdateWater-Add{
        width: 15%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 15%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-CloseOverlay{
        margin-right: 0;
        width: 10%;
        float: right;
    }
    
    .AddBanana button{
        margin-top: 12%;
        width: 100px;
        height: 25px;
        font-weight: 600;
        border-radius: 15px;
    }
}
 
/* (1440x900) WXGA+ Display */
@media screen and (min-width: 1440px) {
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 30%; /* Full width (cover the whole page) */
        height: 64%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 35%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
        font-size: larger;
    }
    #AddBanana-Banana{
        width: 22%;
        align-content: center;
        margin-left:10%;
    
    }
    
    #AddBanana-Water{
        width: 22%;
        align-content: center;
        margin-top: 13%;
    }
    
    .AddBanana-UpdateBanana{
        
    }
    
    #AddBanana-UpdateBanana-Add{
        width: 18%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 18%;
        float: left;
        margin-left: 5%;
    }
    
    
    #AddBanana-UpdateWater-Add{
        width: 18%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 18%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-CloseOverlay{
        margin-right: 0;
        width: 10%;
        float: right;
    }
    
    .AddBanana button{
        margin-top: 15%;
        width: 100px;
        height: 25px;
        font-weight: 600;
        border-radius: 15px;
    }
}
 
/* (1680x1050) WSXGA+ Display */
@media  screen and (min-width: 1680px) {
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 40vw; /* Full width (cover the whole page) */
        height: 90vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 36%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #AddBanana-Banana{
        width: 23%;
        align-content: center;
        margin-left:11%;
    
    }
    
    #AddBanana-Water{
        width: 20%;
        align-content: center;
        margin-top: 15%;
    }
    
    .AddBanana-UpdateBanana{
        
    }
    
    #AddBanana-UpdateBanana-Add{
        width: 20%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 20%;
        float: left;
        margin-left: 5%;
    }
    
    
    #AddBanana-UpdateWater-Add{
        width: 20%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 20%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-CloseOverlay{
        margin-right: 2;
        width: 10%;
        float: right;
    }
    
    .AddBanana button{
        margin-top: 15%;
        width: 150px;
        height: 25px;
        font-weight: 600;
        border-radius: 15px;
    }
}
 
/* (1920x1080) Full HD Display */
@media screen and (min-width: 1920px) {
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 40vw; /* Full width (cover the whole page) */
        height: 95vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 37%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
        zoom: 55%;
    }
    #AddBanana-Banana{
        width: 23%;
        align-content: center;
        margin-left:11%;
    
    }
    
    #AddBanana-Water{
        width: 20%;
        align-content: center;
        margin-top: 18%;
    }
    
    .AddBanana-UpdateBanana{
        
    }
    
    #AddBanana-UpdateBanana-Add{
        width: 20%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 20%;
        float: left;
        margin-left: 5%;
    }
    
    
    #AddBanana-UpdateWater-Add{
        width: 20%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 20%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-CloseOverlay{
        margin-right: 2;
        width: 10%;
        float: right;
    }
    
    .AddBanana button{
        margin-top: 14%;
        width: 150px;
        height: 25px;
        font-weight: 600;
    }
}
 
/* (1600x900) HD+ Display */
@media screen and (min-width: 1600px){
    .AddBanana{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 30%; /* Full width (cover the whole page) */
        height: 72%; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 35%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
        font-size: larger;
    }
    #AddBanana-Banana{
        width: 18%;
        align-content: center;
        margin-left:11%;
    
    }
    
    #AddBanana-Water{
        width: 16%;
        align-content: center;
        margin-top: 20%;
    }
    
    .AddBanana-UpdateBanana{
        
    }
    
    #AddBanana-UpdateBanana-Add{
        width: 14%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateBanana-Minus{
        width: 14%;
        float: left;
        margin-left: 5%;
    }
    
    
    #AddBanana-UpdateWater-Add{
        width: 14%;
        float: right;
        margin-right: 5%;
    }
    #AddBanana-UpdateWater-Minus{
        width: 14%;
        float: left;
        margin-left: 5%;
    }
    
    #AddBanana-CloseOverlay{
        margin-right: 2;
        width: 10%;
        float: right;
    }
    
    .AddBanana button{
        margin-top: 20%;
        width: 150px;
        height: 25px;
        font-weight: 600;
        border-radius: 15px;
    }
}

