/* .Banana-Img{
   width: 18%;
   margin: auto;
   margin-left: 0;
}

.Banana{
  height: 100%;
  width: 100%;
  padding-top: 30%;
} */


 /* Iphone X */
 @media (min-device-width: 375px) 
 and (max-device-height: 812px) 
 and (-webkit-min-device-pixel-ratio: 3) {
  .Banana-Img{
     width: 50%;
     margin: auto;
     margin-right: 0;
     float: right;
  }
  
  .Banana{
     height: 100%;
     width: 100%;
     padding-top: 220px;
  }
}

/* Iphone 6/7/8 */
@media (min-device-width: 375px) 
  and (max-device-height: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
   .Banana-Img{
      width: 45%;
      margin: auto;
      margin-right: 0;
      float: right;
   }
   
   .Banana{
      height: 100%;
      width: 100%;
      padding-top: 175px;
   }
}

   /* Iphone 6/7/8 plus  Pixel 1/2  Pixel 2XL*/
   @media (min-device-width: 414px) 
   and (max-device-height: 736px) 
   and (-webkit-min-device-pixel-ratio: 3){

   .Banana-Img{
      width: 45%;
      margin: auto;
      margin-right: 0;
      float: right;
   }
   
   .Banana{
      height: 100%;
      width: 100%;
      padding-top: 150px;
   }
}



/*Pixel 2XL*/
@media
      (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
   .Banana-Img{
      width: 45%;
      margin: auto;
      margin-right: 0;
      float: right;
   }
   
   .Banana{
      height: 100%;
      width: 100%;
      padding-top: 200px;
   }
}

/*Smaller Devices */
@media (min-device-width: 320px) 
  and (max-device-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
   .Banana-Img{
      width: 45%;
      margin: auto;
      margin-right: 0;
      float: right;
   }
   
   .Banana{
      height: 100%;
      width: 100%;
      padding-top: 120px;
   }
}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media
      (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
   .Banana-Img{
      width: 45%;
      margin: auto;
      margin-right: 0;
      float: right;
   }
   
   .Banana{
      height: 100%;
      width: 100%;
      padding-top: 120px;
   }
  }



/* (1366x768) WXGA Display */
@media screen and (min-width: 1366px){
   .Banana-Img{
      width: 22%;
      margin: auto;
      margin-left: 0;
   }
   
   .Banana{
     height: 100%;
     width: 100%;
     padding-top: 33%;
   }
   
}

/* (1280x1024) SXGA Display */
@media  screen and (min-width: 1280px){
   .Banana-Img{
      width: 21.2%;
      margin: auto;
      margin-left: 0;
   }
   
   .Banana{
     height: 100%;
     width: 100%;
     padding-top: 35%;
   }
}

/* (1440x900) WXGA+ Display */
@media screen and (min-width: 1440px) {
   .Banana-Img{
      width: 23%;
      margin: auto;
      margin-left: 0;
   }
   
   .Banana{
     height: 100%;
     width: 100%;
     padding-top: 33%;
   }
}

/* (1680x1050) WSXGA+ Display */
@media  screen and (min-width: 1680px) {
   .Banana-Img{
      width: 23%;
      margin: auto;
      margin-left: 0;
   }
   
   .Banana{
     height: 100%;
     width: 100%;
     padding-top: 33%;
   }
}

/* (1920x1080) Full HD Display */
@media screen and (min-width: 1920px) {
   .Banana-Img{
      width: 23%;
      margin: auto;
      margin-left: 0;
   }
   
   .Banana{
     height: 100%;
     width: 100%;
     padding-top: 29%;
     zoom: 55%;
   }
}

/* (1600x900) HD+ Display */
@media screen and (min-width: 1600px) {
   .Banana-Img{
      width: 22%;
      margin: auto;
      margin-left: 0;
   }
   
   .Banana{
     height: 100%;
     width: 100%;
     padding-top: 29%;
   }
}


