.Banana-Img{
   width: 18%;
   margin: auto;
   margin-left: 0;
}

.Banana{
  height: 100%;
  width: 100%;
  padding-top: 30%;
}


 /* Iphone X */
 @media (width: 375px) and (height: 812px){
  .Banana-Img{
     width: 50%;
     margin: auto;
     margin-right: 0;
     float: right;
  }
  
  .Banana{
     height: 100%;
     width: 100%;
     padding-top: 200px;
  }
}

/* Iphone 6/7/8 */
@media (width: 375px) and (height: 667px){
   .Banana-Img{
      width: 45%;
      margin: auto;
      margin-right: 0;
      float: right;
   }
   
   .Banana{
      height: 100%;
      width: 100%;
      padding-top: 150px;
   }
}

   /* Iphone 6/7/8 plus  Pixel 1/2  Pixel 2XL*/
   @media (min-width: 400px) and (max-height: 830px){

   .Banana-Img{
      width: 45%;
      margin: auto;
      margin-right: 0;
      float: right;
   }
   
   .Banana{
      height: 100%;
      width: 100%;
      padding-top: 150px;
   }
}



/*Pixel 2XL*/
@media (min-width: 400px) and (min-height: 800px){
   .Banana-Img{
      width: 45%;
      margin: auto;
      margin-right: 0;
      float: right;
   }
   
   .Banana{
      height: 100%;
      width: 100%;
      padding-top: 200px;
   }
}

/*Smaller Devices */
@media (min-width: 300px) and (max-height: 640px){
   .Banana-Img{
      width: 45%;
      margin: auto;
      margin-right: 0;
      float: right;
   }
   
   .Banana{
      height: 100%;
      width: 100%;
      padding-top: 120px;
   }
}
