.FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 40vw; /* Full width (cover the whole page) */
        height: 70vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 32%;
        margin-top: 5%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    
}
#FullHealthInformation-CloseOverlay{
    margin-right: 0;
    width: 10%;
    float: right;
}

.FullHealthInformation-Grid{
    display: flex;
    justify-content: center;
}

.FullHealthInformation-Grid-Left{
    width: 50%;
    margin-right: 10%;
    text-align: right;
}
.FullHealthInformation-Grid-Right{
    width: 50%;
    float: right;
    text-align: left;

}
.FullHealthInformation p{
    font-style: oblique;
}

 /* Iphone X */
 @media (width: 375px) and (height: 812px){
    .FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 80vw; /* Full width (cover the whole page) */
        height: 70vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 10%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #FullHealthInformation-CloseOverlay{
        margin-right: 0;
        width: 20%;
        float: right;
    }
    
    .FullHealthInformation-Grid{
        display: flex;
        justify-content: space-between;
    }
    
    .FullHealthInformation-Grid-Left{
        width: 50%;
    }
    .FullHealthInformation-Grid-Right{
        width: 50%;
        float: right;
    
    }

    .FullHealthInformation p{
        font-size: small;
        font-style: oblique;
    }
    
}

/* Iphone 6/7/8 */
@media (width: 375px) and (height: 667px){
    .FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 80vw; /* Full width (cover the whole page) */
        height: 85vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 10%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #FullHealthInformation-CloseOverlay{
        margin-right: 0;
        width: 16%;
        float: right;
        margin-top: 1px;
        margin-right: 1px;
    }
    
    .FullHealthInformation-Grid{
        display: flex;
        justify-content: space-between;
    }
    
    .FullHealthInformation-Grid-Left{
        width: 50%;
    }
    .FullHealthInformation-Grid-Right{
        width: 50%;
        float: right;
    
    }

    .FullHealthInformation p{
        font-size: small;
        font-style: oblique;
    }
}

   /* Iphone 6/7/8 plus  Pixel 1/2  Pixel 2XL*/
@media (min-width: 400px) and (max-height: 830px){
    .FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 80vw; /* Full width (cover the whole page) */
        height: 75vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 10%;
        margin-top: 15%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
    }
    #FullHealthInformation-CloseOverlay{
        margin-right: 0;
        width: 16%;
        float: right;
        margin-top: 1px;
        margin-right: 1px;
    }
    
    .FullHealthInformation-Grid{
        display: flex;
        justify-content: space-between;
    }
    
    .FullHealthInformation-Grid-Left{
        width: 50%;
    }
    .FullHealthInformation-Grid-Right{
        width: 50%;
        float: right;
    
    }

    .FullHealthInformation p{
        font-size: small;
        font-style: oblique;
    }
}


/*Smaller Devices */
@media (min-width: 300px) and (max-height: 640px){
    .FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 80vw; /* Full width (cover the whole page) */
        height: 80vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 10%;
        margin-top: 5%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    }
    #FullHealthInformation-CloseOverlay{
        margin-right: 0;
        width: 16%;
        float: right;
        margin-top: 1px;
        margin-right: 1px;
    }
    
    .FullHealthInformation-Grid{
        display: flex;
        justify-content: space-between;
    }
    
    .FullHealthInformation-Grid-Left{
        width: 50%;
    }
    .FullHealthInformation-Grid-Right{
        width: 50%;
        float: right;
    
    }

    .FullHealthInformation p{
        font-size: x-small;
        font-style: oblique;
    }

    .FullHealthInformation h3{
        font-size: small;
        font-weight: 700;
    }

}



/* (1366x768) WXGA Display */
@media (max-height: 768px) and (min-width: 1366px) {
    .FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 35vw; /* Full width (cover the whole page) */
        height: 70vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 32%;
        margin-top: 5%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    
}
#FullHealthInformation-CloseOverlay{
    margin-right: 0;
    width: 10%;
    float: right;
}

.FullHealthInformation-Grid{
    display: flex;
    justify-content: center;
}

.FullHealthInformation-Grid-Left{
    width: 50%;
    margin-right: 10%;
    text-align: right;
}
.FullHealthInformation-Grid-Right{
    width: 50%;
    float: right;
    text-align: left;

}
.FullHealthInformation p{
    font-style: oblique;
}
}
 
/* (1280x1024) SXGA Display */
@media (min-width: 1280px) and  (max-height: 1024px) {
    .FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 35vw; /* Full width (cover the whole page) */
        height: 75vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 35.5%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    
}
#FullHealthInformation-CloseOverlay{
    margin-right: 0;
    width: 10%;
    float: right;
}

.FullHealthInformation-Grid{
    display: flex;
    justify-content: center;
}

.FullHealthInformation-Grid-Left{
    width: 50%;
    margin-right: 10%;
    text-align: right;
}
.FullHealthInformation-Grid-Right{
    width: 50%;
    float: right;
    text-align: left;

}
.FullHealthInformation p{
    font-style: oblique;
}
}
 
/* (1440x900) WXGA+ Display */
@media (min-width: 1440px) and (max-height: 900px){
    .FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 35vw; /* Full width (cover the whole page) */
        height: 65vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 32.5%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    
}
#FullHealthInformation-CloseOverlay{
    margin-right: 0;
    width: 10%;
    float: right;
}

.FullHealthInformation-Grid{
    display: flex;
    justify-content: center;
}

.FullHealthInformation-Grid-Left{
    width: 50%;
    margin-right: 10%;
    text-align: right;
}
.FullHealthInformation-Grid-Right{
    width: 50%;
    float: right;
    text-align: left;

}
.FullHealthInformation p{
    font-style: oblique;
}
}
 
/* (1680x1050) WSXGA+ Display */
@media (min-width: 1680px) and (max-height: 1050px){
    .FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 30vw; /* Full width (cover the whole page) */
        height: 65vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 34.5%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    
}
#FullHealthInformation-CloseOverlay{
    margin-right: 0;
    width: 10%;
    float: right;
}

.FullHealthInformation-Grid{
    display: flex;
    justify-content: center;
}

.FullHealthInformation-Grid-Left{
    width: 50%;
    margin-right: 10%;
    text-align: right;
}
.FullHealthInformation-Grid-Right{
    width: 50%;
    float: right;
    text-align: left;

}
.FullHealthInformation p{
    font-style: oblique;
}
}
 
/* (1920x1080) Full HD Display */
@media (min-width: 1920px) and (max-height: 1080px) {
    .FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 30vw; /* Full width (cover the whole page) */
        height: 55vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 35%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
        zoom: 55%;
    
}
#FullHealthInformation-CloseOverlay{
    margin-right: 0;
    width: 10%;
    float: right;
}

.FullHealthInformation-Grid{
    display: flex;
    justify-content: center;
}

.FullHealthInformation-Grid-Left{
    width: 50%;
    margin-right: 10%;
    text-align: right;
}
.FullHealthInformation-Grid-Right{
    width: 50%;
    float: right;
    text-align: left;

}
.FullHealthInformation p{
    font-style: oblique;
}
}
 
/* (1600x900) HD+ Display */
@media(min-width: 1600px) and (max-height: 900px) {
    .FullHealthInformation{
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 30vw; /* Full width (cover the whole page) */
        height: 65vh; /* Full height (cover the whole page) */
        top: 0;
        margin-left: 35%;
        margin-top: 8%;
        bottom: 0;
        background-color: #3D405B; /* Black background with opacity */
        
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        display: block;
        border: 4px solid #FCEC52;
        /* rgb(49, 59, 78, 0.9) */
        border-radius: 25px;
        color: white;
    
}
#FullHealthInformation-CloseOverlay{
    margin-right: 0;
    width: 10%;
    float: right;
}

.FullHealthInformation-Grid{
    display: flex;
    justify-content: center;
}

.FullHealthInformation-Grid-Left{
    width: 50%;
    margin-right: 10%;
    text-align: right;
}
.FullHealthInformation-Grid-Right{
    width: 50%;
    float: right;
    text-align: left;

}
.FullHealthInformation p{
    font-style: oblique;
}
}