/* .Silhouette{
    align-items: center;
    justify-content: center;
    
}
#Silhouette-Img{
    width:  100%;
    margin-top: 5%;
} */


 /* Iphone X */
 @media only screen 
 and (min-device-width: 375px) 
 and (max-device-height: 812px) 
 and (-webkit-min-device-pixel-ratio: 3) {
    .Silhouette{
        align-items: center;
        justify-content: center;
    }
    #Silhouette-Img{
        width: 120%;
        margin-top: 190px;
    }
    
}

/* Iphone 6/7/8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-height: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .Silhouette{
        align-items: center;
        justify-content: center;
    }
    #Silhouette-Img{
        width: 110%;
        margin-top: 180px;
    }
}

    /* Iphone 6/7/8 plus  Pixel 1/2  Pixel 2XL*/
@media only screen 
    and (min-device-width: 414px) 
    and (max-device-height: 736px) 
    and (-webkit-min-device-pixel-ratio: 3){
    .Silhouette{
        align-items: center;
        justify-content: center;
    }
    #Silhouette-Img{
        width: 110%;
        margin-top: 180px;
    }
}

/*Pixel 2XL*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .Silhouette{
        align-items: center;
        justify-content: center;
    }
    #Silhouette-Img{
        width: 110%;
        margin-top: 225px;
    }

}

/*Smaller Devices */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Silhouette{
        align-items: center;
        justify-content: center;
    }
    #Silhouette-Img{
        width: 110%;
        margin-top: 145px;
    }
}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .Silhouette{
        align-items: center;
        justify-content: center;
    }
    #Silhouette-Img{
        width: 110%;
        margin-top: 145px;
    }
  }

/* (1366x768) WXGA Display */
@media (max-height: 768px) and (min-width: 1366px){
    .Silhouette{
        align-items: center;
        justify-content: center;
        
    }
    #Silhouette-Img{
        width:  80%;
        margin-top: 25%;
    }
}
 
/* (1280x1024) SXGA Display */
@media (min-width: 1280px) and  (max-height: 1024px) {
    .Silhouette{
        align-items: center;
        justify-content: center;
        
    }
    #Silhouette-Img{
        width:  75%;
        margin-top: 25%;
    }
}
 
/* (1440x900) WXGA+ Display */
@media (min-width: 1440px) and (max-height: 900px){
    .Silhouette{
        align-items: center;
        justify-content: center;
        
    }
    #Silhouette-Img{
        width:  90%;
        margin-top: 25%;
    }
}
 
/* (1680x1050) WSXGA+ Display */
@media (min-width: 1680px) and (max-height: 1050px) {
    .Silhouette{
        align-items: center;
        justify-content: center;
        
    }
    #Silhouette-Img{
        width:  80%;
        margin-top: 25%;
    }
}
 
/* (1920x1080) Full HD Display */
@media (min-width: 1920px) and (max-height: 1080px)  {
    .Silhouette{
        align-items: center;
        justify-content: center;
        zoom: 55%;
        
    }
    #Silhouette-Img{
        width:  85%;
        margin-top: 18%;
    }
}
 
/* (1600x900) HD+ Display */
@media(min-width: 1600px) and (max-height: 900px) {
    .Silhouette{
        align-items: center;
        justify-content: center;
        
    }
    #Silhouette-Img{
        width:  85%;
        margin-top: 18%;
    }
}