.Water-Img{
    width: 18%;
    margin: auto;
    margin-right: 0;
 
 }
 
 .Water{
    height: 100%;
    width: 100%;
    padding-top: 30%;
 }

 @media (max-width: 600px) {
   .Water-Img{
      width: 50%;
      margin: auto;
      margin-left: 0;
      float: left;
   }
   
   .Water{
      height: 100%;
      width: 100%;
      padding-top: 200px;
   }
}